div.menu ul
{
    list-style:none; /* remove bullets */
    margin: 0px;     /* MUST */
    padding: 0px;    /* Needed */
    width: auto;     /* auto-adjust according to contents*/
}

div.menu ul li
{
    float:left; /* change lists to horizontal */
}

/* a link style visted or not */
div.menu ul li a, div.menu ul li a:visited
{
    /* background-color: #465c71;  */
    /* border: 1px #4e667d solid;  */
    /* color: #dde4ec;  */
    display: block;             /* block can have multiple-lines, change it to inline-block */
    line-height: 3.5em;         /* This MUST be set manually by height, cannot use 100% */
    padding: 0px 2.5vw;         /* Inner paddings */
    text-decoration: none;      /* no underscore of hyperlink */
    white-space: nowrap;        /* no wrap with text until break line */
}

/* when mouse hover */
div.menu ul li a:hover
{
    background-color: #0b83f3;
    /* color: #d0dae4;  */
    text-decoration: none; /* no underscore of hyperlink */
}

/* when mouse clicked */
div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6; /* text color */
    text-decoration: none; /* no underscore of hypelink */
}



    