 .eachText {
     margin-left: 10px;
     margin-right: 10px;
 }

 .dataTime {
    color: brown;
    font-size: 1.0rem;
    font-weight: 600;   
  }

  .confirmedNumber {
    color: red;
    font-size: 1.0rem;
    font-weight: 600;
  }

  .increasedNumber {
    color: #FF9933;
    font-size: 1.0rem;    
    font-weight: 600;
  }

  /* .infoIcon {
    display: 'flex';
    flex-direction: 'row';
    width: '4.5rem';
    justify-content: 'space-between';
    align-items: 'center'
  } */

  .curedNumber {
    color: green;
    font-size: 1.0rem;
    font-weight: 600;
  }

  .deathNumber {
    color: gray;
    font-size: 1.0rem;
    font-weight: 600;
  }

  .fatalityNumber {
    color: #f60;
    font-size: 1.0rem;
    font-weight: 600;
  }
  