 .dataTime {
    color: brown;
    font-size: 1.0rem;
    font-weight: 600;   
  }

  .confirmedNumber {
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .suspectedNumber {
    color: #FF9933;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .curedNumber {
    color: green;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .deathNumber {
    color: gray;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .fatalityNumber {
    color: #f60;
    font-size: 1.2rem;
    font-weight: 600;
  }